:root {
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background-color: var(--just-white);
}
header img {
    width: 150px;
    height: 42px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:var(--black)
}
header nav {
    font-size: 1.6rem;
    text-decoration: none;
    color:var(--off-white)
}
header nav a {
  font-size: 1.8rem;
  color: #282623;
  text-decoration: none;
}

/* Main Section */
main{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.card--container .character-card img{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.character-card h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #E7F5FF;
    text-align: center;
}
.card--container .character-card--details {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
}
.character-card--details h3, span {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
}
/* Page home.js in pages */
.Character-item {
  
    text-decoration: none;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 5px;
    margin: 10px 10px 20px 25px;
    display: block;
    animation-duration: 2s;
    animation-name: fade;
  }
  
  .Character-item img {
    width: 90%;
    height: auto;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }
  
  .Character-item h2 {
    font-size: 18px;
    font-weight: 300;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .Character-item a {
    text-decoration: none;
    color: #026C86;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .Main-loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }