html {
    font-size: 70%;
}
.Characters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: 1.5em;
}
.card--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}